body{
    margin: 0;

}

h1{
    text-align: center;
    margin-bottom: 3rem;
    color: yellow;
   
}

h2{
    text-align: center;
    padding-top: 20px;
    color: yellow;
}

#text-output{
    width: 73%;
    height: 22%;
    padding: 1.25rem;
    background:rgb(255, 255, 255);
    border: 3px solid rgb(10, 173, 248);
    overflow: scroll;
    margin-left: 3rem;
    margin-top: 2rem;
    color: black;
   
}

.outer-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-input{
    width: 80%;
    margin: 1.2rem auto;
    margin-left: 3rem;
    border: 3px solid rgb(89, 255, 255);
    background: rgb(255, 255, 255);
}

#translate-btn{
    display: block;
    padding: 0.5rem 2.5rem;
    border: 3px solid yellow;
    border-radius: 0.313rem;
    margin-left: 3rem;
    background-color:yellow;
    font-weight: 750;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
   
}

.container{
    width: 34.375rem;
    height: 25rem;
    border: 5px solid yellow;
    border-radius: 15px;
   
  

}

@media only screen and (max-width: 43.75rem){
    .container{
        width: 15rem;
        height: 30rem;
    }

    #user-input{
        width: 60%;
        height:25%;
    }

    #text-output{
        width: 48%;
        height: 15%;
    }

    #translate-btn{
        padding: 0.1rem 0.6rem;
    }
}




